//VARIABLES
$basic-border: solid 1px black;
$medium-font: 20px;
$blue: #80d4f7;
$maroon: #b63066;

// GLOBAL CSS RULES

* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

hr {
  width: 50vw;
}

#root {
  overflow-x: hidden;
}

.text-strong {
  font-weight: 700;
  color: $maroon;
}

//App container
.App {
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Header
.header-wr {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  // align-items: flex-end;
  height: 7vh;
  // border-bottom: $basic-border;
}

.form-wr {
  // border-bottom: solid 1px #555;
  // border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-form {
}

#search-bar {
  border: none;
  border-bottom: solid 1px #999;
  width: 65vw;
  font-size: $medium-font;
  padding: 8px 0 8px 10px;
  outline: none;
  &:focus {
    color: #000;
  }
}

#search-btn {
  font-size: 6vw;
  padding: 5px;
  background: $blue;
  color: #fff;
  outline: none;
  border: none;
  border-bottom: solid 1px #999;

  &:hover {
    color: $maroon;
    transition: color 0.4s;
  }
}

#logo {
  width: 10%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 7px;
}

//Landing Page

.landing-wr {
  min-height: 100vh;
  width: 90vw;
  position: absolute;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.landing-background {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(128, 212, 247, 0.45)
    ),
    url("../src/assets/learn.jpg");
}

.footer-background {
  // position: relative;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -2;

  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.9),
      rgba(128, 212, 247, 0.9)
    ),
    url("../src/assets/green.jpg");
}

.landing-header-wr {
  width: 100vw;
  height: 25vh;
  background: #f3f6fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
}

.landing-header-wr h1 {
  color: #444;
}

//Promo Box
.promo-wr {
  width: 75vw;
  height: 75vw;
  background: $blue;
  margin: 6vw;
  // padding: 3vw;
  box-shadow: 1px 1px 5px #444;
}

.promo-img-wr {
  width: 100%;
  height: 30%;
  // background: #fff;
  background: #f3f6fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-icon {
  color: $blue;
  font-size: 10vw;
  // border: solid 1px black;
  border-radius: 50%;
  transform: scale(1.5);
}

.hover-tilt-r {
  &:hover {
    transform: rotate(2deg);
  }
  transition: transform 0.5s;
}
.hover-tilt-l {
  &:hover {
    transform: rotate(-2deg);
  }
  transition: transform 0.5s;
}

//Course container

.all-course-wr {
  @extend .landing-wr;
  margin-top: 6vh;
}

//Course boxes

.course-wr {
  width: 75vw;
  height: 85vw;
  margin: 6vw;
  padding: 3vw;
  background: #fff;
  box-shadow: 0.25px 0.25px 4px #888;
  text-align: left;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.course-img {
  width: 100%;
  height: 150px;
}

.course-name {
  font-size: 20px;
}

.instructor {
  text-align: center;
  padding: 2vw;
  border-radius: 20px;
  background: linear-gradient(180deg, #eee, $blue);
  &:hover {
    background: linear-gradient(90deg, #eee, $blue);
  }
}

.loading-wr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#not-found-img {
  width: 75%;
  box-shadow: 5px 5px 5px #555;
  border-radius: 50%;
}
