//VARIABLES
$basic-border: solid 1px black;
$small-font: 20px;
$blue: #80d4f7;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

//App container
.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

//Header
.header-wr {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  // align-items: flex-end;
  height: 7vh;
  // border-bottom: $basic-border;
}

.form-wr {
  border-bottom: solid 1px #555;
  // border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-form {
}

#search-bar {
  // border-bottom: solid 1px #555;
  // height: 40px;
  width: 65vw;
  font-size: $small-font;
  padding-left: 10px;
  outline: none;
  &:focus {
    color: #000;
  }
}

#search-btn {
  font-size: 9vw;
  padding: 0px;
  border: solid 1 px #fff;
  background: $blue;
  color: #fff;
}

#logo {
  width: 10%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 7px;
}

//Landing Page

.landing-wr {
  min-height: 100vh;
  width: 90vw;
  position: absolute;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.landing-background {
  width: 100vw;
  height: 45vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(128, 212, 247, 0.45)
    ),
    url("../src/assets/learn.jpg");
}

//Promo Box
.promo-wr {
  width: 75vw;
  height: 75vw;
  background: $blue;
  margin: 6vw;
  // padding: 3vw;
  box-shadow: 1px 1px 5px #444;
}

.promo-img-wr {
  width: 100%;
  height: 30%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-icon {
  color: $blue;
  font-size: 10vw;
  // border: solid 1px black;
  border-radius: 50%;
  transform: scale(1.5);
}

.hover-tilt-r {
  &:hover {
    transform: rotate(2deg);
  }
  transition: transform 0.5s;
}
.hover-tilt-l {
  &:hover {
    transform: rotate(-2deg);
  }
  transition: transform 0.5s;
}

//Course boxes

.course-wr {
  width: 75vw;
  height: 85vw;
  margin: 6vw;
  padding: 3vw;
  box-shadow: 1px 1px 5px #444;
  text-align: left;
}

.course-img {
  width: 100%;
  height: 100%;
}
